:root {
  color-scheme: dark;
}
body {
  background-color: black;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

.joystick {
  display: none;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  bottom: 60px;
  touch-action: none;
  --x: 50%;
  --y: 50%;
}
.touch .joystick {
  display: flex;
}
.joystick-dot {
  flex: auto;
  border-radius: 50%;
  background-color: rgba(30, 30, 30, 0.5);
  border: 1px solid rgba(30, 30, 30, 0.5);
  margin: 50px;
  position: relative;
}
.joystick-dot::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  margin: -25px;
  border-radius: 50%;
  position: absolute;
  left: var(--x);
  top: var(--y);
  background-color: rgba(220, 220, 220, 0.5);
  border: 1px solid rgba(220, 220, 220, 0.5);
  opacity: 0;
  transition: opacity 0.2s;
}
.joystick-active .joystick-dot::after {
  opacity: 1;
  transition: none;
}

#error {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 40px);
  max-width: 800px;
  max-height: calc(100% - 40px);
  box-sizing: border-box;
  overflow-y: auto;
  white-space: pre-wrap;
  z-index: 5;
  border: 1px solid #f61e4d;
  background-color: rgba(246, 30, 77, 0.2);
  color: white;
  padding: 20px;
  border-radius: 15px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#error span {
  display: block;
  flex: none;
}
#error.no-error {
  display: none;
}

.button {
  display: none;
  width: 80px;
  height: 80px;
  border-radius: 4px;
  background-color: rgba(220, 220, 220, 0.5);
  border: 1px solid rgba(220, 220, 220, 0.5);
  position: absolute;
}
.touch .button {
  display: block;
}
.up {
  right: 80px;
  bottom: 200px;
}
.down {
  right: 80px;
  bottom: 80px;
}

#perf {
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
  font-family: sans-serif;
  color: black;
}
.measure {
  display: flex;
  align-items: center;

  & > div {
    width: 50px;
  }
  & > svg {
    fill: none;
    stroke: white;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  & > pre {
    margin: 0;
  }
  & > table {
    border-collapse: collapse;
    font-size: 0.8em;

    & td {
      border: 1px solid currentColor;
      width: 1.5em;
      height: 1.5em;
      text-align: right;
    }
  }
}
